$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$titel-text-color: #ffffff;
$buttons-bg-color: #f5f4fa;
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
