.works-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  // padding-top: 94px;
  // padding-bottom: 94px;

  // @media screen and (min-width:$mobile) {
  //   $mobile
  // }
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
}
